:root {
  --color-white: #ffffff;
  --color-grey-100: #f8f9fa;
  --color-grey-200: #e0e0e0;
  --color-grey-600: #6c757d;
  --color-brand: #2c3d7c;
  --color-brand-hover: #3156db;

  --color-green: #28a745;
  --color-danger: #dc3545;

  --color-text-primary: #212529;
  --color-text-secondary: #495057;
}
.main-container {
  width: 100%;
  height: calc(100vh - 3.75rem);
  background: var(--color-grey-100);
}
